<div id="main">
<div class="container-full-bg">  <!--  increased the jumbotron width -->
	<div class="jumbotron jumbotron-fluid">
		<div >
			<h1 class="align-middle">Welcome to Pick Your Peaks</h1>
			<h2>Here you can find an accurate data set of peaks </h2>
		</div>
	</div>
</div>



<div  class="mid-txt">
	
<p>Pick your Peaks è un progetto indipendente che nasce nell’Aprile del 2020 dalla grande passione per l’escursionismo, la geografia ed in particolar modo la cartografia. L’orografia è quella parte della geografia fisica che studia e descrive le caratteristiche dei rilievi montuosi. In essa rientrano le vette, nelle sue numerose denominazioni. Il primo obiettivo di questo progetto è costruire un database esaustivo delle vette presenti sul territorio, includendo anche i rilievi minori, con una prominenza minima di 5 metri, spesso non riportati sulle carte o su altre fonti disponibili su internet od altrove.
Il secondo obiettivo è che questo database possa essere utile e d’interesse a tutti coloro che, come me, coltivano la passione per le vette in senso ampio (in montagna, in collina o anche su un isolotto) e la propensione a raggiungerle, come traguardi piccoli o grandi della propria esistenza.</p>

</div>




  <%= image_tag "Appenines - Mount Falterona.jpg", :width => '100%', :height => '250px' %>